---
dfasfas: 'afasfasdf'
safas: 'sdf'
name: 'xiexie'
---
<!-- @@master  = layouts/default.html-->

<!-- @@block  =  content-->
<h1>Hello <%= name %></h1>

 <% if(name=='Sindre') { %>
        <input type="text" id="txtFirstName" value="" />
    <% } else { %>
        <input type="text" id="txtFirstName" value="<%=name%>" />
    <% } %>
{{name}}
<!-- @@close-->

dfsfsalfjkeksefjkwe
<!-- @@block  =  xiexie-->
<h1>Hello <%= name %></h1>

 <% if(name=='Sindre') { %>
        <input type="text" id="txtFirstName" value="" />
    <% } else { %>
        <input type="text" id="txtFirstName" value="<%=name%>" />
    <% } %>
{{name}}
<!-- @@close-->


