*{margin:0;padding: 0;}

body{
     background:url('../images/code.png') no-repeat 0 0;


}
h1{color:skyblue;margin:auto;text-align: center;}

div.bg{
    background:url('../images/aab.png') no-repeat 0 0;
}

